@model UsuarioModel

@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["MensagemDeSucesso"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["MensagemDeSucesso"]
    </div>
}

<div class="text-center">
    <h1 class="display-4">Bem vindo @Model.Nome</h1>
</div>
